button.share-button:checked {
    color: white;
    background-color: green;
    opacity: 0.95;
    background-image: none;
}

.video-overlay {
    color: red;
    background-color: red;
    background-image: none;
    opacity: 1;
}

frame.video-frame {
    background-color: black;
}
